:root {
  --primary: #9aaaa6;
  --dark-green: #487279;
  --secondary: #f1b8c2;
  --warning: #c97c82;
  --grey: #989898;
  --light-grey: #b7b7b7;
  --second-light-grey: #ededed;
  --pink-grey: #c0b0b2;
  --confirm: #bba366;
}

html {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  font-family: "Mona Sans", sans-serif;
}
html::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

body {
  min-width: 550px;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: #ededed;
}

::backdrop {
  background-color: #989898;
  opacity: 0.75;
}

/*Navbar*/
nav {
  background-image: linear-gradient(to right, var(--primary), #f1b8c2);
  height: auto;
}

nav hr {
  border-color: rgb(256, 256, 256, 0.3);
}

nav .header {
  display: flex;
}

nav .header > h1 {
  flex-grow: 1;
  color: white;
}

nav .header .clock {
  display: flex;
  align-items: center;
  align-self: end;
}

nav .header .clock time {
  color: #252525;
  padding: 0 10px 0 5px;
}

nav .header .clock i {
  color: #252525;
}

nav ul {
  overflow-x: scroll;
  margin: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 5px;
  padding: 10px 30px 19px 10px;
  transition: 0.3s;
  min-width: 120px;
}

nav ul li span {
  color: white;
}

nav ul li i {
  color: white;
  padding-right: 5px;
}

nav ul li:hover,
nav ul li.tab-link.active {
  cursor: pointer;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav ul li:hover i {
  color: var(--dark-green);
}

nav ul li:hover span {
  color: var(--dark-green);
  font-weight: 600;
}

.active i,
.active span {
  color: var(--dark-green);
  font-weight: 600;
}

/* MAIN + TABS */
main {
  display: flex;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
  justify-content: space-evenly;
  height: calc(100vh - 140px);
}

.title-container {
  display: flex;
  align-items: center;
  background-color: var(--pink-grey);
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 0 10px 0px;
}

.title-container > .fa-code-branch {
  color: whitesmoke;
  margin: 0 -15px 0 20px;
}

/* COL-1 */
.col-1 {
  position: relative;
  background-color: white;
  flex-basis: 60%;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  transform: scale(0.8);
}

.col-1.sm {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

.col-1#onShow,
.col-2#onShow {
  opacity: 1;
  transform: scale(1);
}

/* COL-2 */
.col-2 {
  display: flex;
  background-color: white;
  height: 100px;
  flex-basis: 40%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
  transform: scale(0.8);
}

.col-2.lg {
  height: auto;
  flex-basis: 70%;
}

.bill-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inactive {
  color: var(--light-grey);
}

@media (width < 600px) {
  .col-2 {
    display: none;
  }

  .col-1 {
    flex-basis: 100%;
  }
}

@keyframes show {
  from {
    transform: translateY(-20%);
  }

  to {
    transform: translateY(0%);
  }
}
