/*List*/
.vertical-list {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.vertical-list::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.vertical-list.check-out {
  height: 100px;
}

.list-item {
  height: 40px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.list-item.checked {
  background-color: var(--second-light-grey);
}

.choose-indicator {
  height: 100%;
  width: 8px;
  background-color: white;
  transition: 0.3s;
}

.choose-indicator.active {
  background-color: var(--secondary);
}

.list-item:hover .choose-indicator {
  background-color: var(--secondary);
}

.list-item:hover {
  cursor: pointer;
}
