/*TEXT*/
p {
  font-size: 100%;
  font-weight: 400;
  text-align: start;
}
p.note-lg {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #989898;
}

span {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1#dashboard-name {
  padding: 10px 0 0 20px;
  margin: 0;
  color: whitesmoke;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2.col-title {
  display: flex;
  margin: 0;
  margin-left: 20px;
  color: whitesmoke;
  font-size: 100%;
  font-weight: 500;
  font-style: normal;
}

h4#modal-header-text {
  color: #474747;
  margin-left: 20px;
}

.notice {
  display: none;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}

.notice#error {
  display: block;
  color: var(--warning);
}

.notice#success {
  display: block;
  color: var(--dark-green);
}

.list-item-content {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
