<template id="two-col-template">
  <div class="col-1">
    <table id="myTable" class="hover" style="width: 100%">
      <thead></thead>
      <tbody></tbody>
    </table>
    <button id="add-btn" class="round-btn add-btn">
      <i class="fa-solid fa-plus fa-lg"></i>
      <span class="tooltiptext">Add new</span>
    </button>
  </div>
  <div class="col-2">
    <div class="title-container">
      <h2 class="col-title">No item selected</h2>
    </div>
    <p class="note-lg">No item selected</p>
  </div>
</template>
